body {
	color: white;
	background-image: url(images/space.jpg);
	img {
		float: left;
		margin-right: 3%;
	}
	section {
		overflow: right;
	}
	a {
		font-size: 30px;
		color: #3C3131;
		margin-left: 47%;
		margin-top: 5%;
	}
}